/* alistyle.modal 样式模块 */

.ali-modal-mask{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.2;
    filter: alpha(filter=20);
    z-index: 999;
}

.ali-modal{
    position: fixed;
    background-color: rgba(0,0,0,.5);
    border: 0;
    padding: 6px;
    outline: 0;
    FILTER: progid: DXImageTransform.Microsoft.Gradient(startColorstr=#88000000, endColorstr=#88000000);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    z-index: 1000;
}

.ali-modal-close{
    color: #999;
    cursor: pointer;
    display: block;
    font-family: tahoma;
    font-size: 24px;
    font-weight: 700;
    height: 18px;
    line-height: 14px;
    position: absolute;
    right: 16px;
    text-decoration: none;
    top: 16px;
    z-index: 10;
}
.ali-modal-close:hover{
    color:#666;
    text-shadow:0 0 2px #aaa;
    text-decoration: none;
}

.ali-modal-content{
    background: #fff;
    zoom: 1;
    height: 100%;
}

.ali-modal-header{
    height: 45px;
    font-size: 16px;
    font-family: '微软雅黑','黑体',Arial;
    line-height: 46px;
    border-bottom: 1px solid #E1E1E1;
    color: #4d4d4d;
    text-indent: 20px;
    background-color: #f9f9f9;
    background: -webkit-gradient(linear,left top,left bottom,from(#fcfcfc),to(#f9f9f9));
    background: -moz-linear-gradient(top,#fcfcfc,#f9f9f9);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f9f9f9');
    background: -o-linear-gradient(top,#fcfcfc,#f9f9f9);
    background: -ms-linear-gradient(top,#fcfcfc,#f9f9f9);
    background: linear-gradient(top,#fcfcfc,#f9f9f9);
}

.ali-modal-container{
    padding: 15px 20px 20px;
    font-size: 12px;
}

.ali-modal-message{
    margin-bottom: 15px;
}

.ali-modal-operation{
    zoom: 1;
}

.ali-modal-operation .ali-modal-confirm, .ali-modal-operation .ali-modal-cancel{
    display: inline-block;
    margin-right: 4px;
}